[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
tensorboard = "*"
tqdm = "*"
tensorflow = "*"
tensorflow-datasets = "*"

[dev-packages]

[requires]
python_version = "3.8"
